.custom-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.reorder {
    order: 2;
}

.filters-card{
    width: 30%;
    margin: 1.25rem;
    max-width: 30rem;

}
.orders-card{
    width: 60%;
    margin:1.25rem;
    max-width: 60rem;
}
@media screen and (max-width: 1024px) {
    .filters-card{
        width:90%;
        margin:1.25rem;
        max-width: none;
    }
    .reorder{
        order:initial;
    }
    .orders-card{
        width:90%;
        margin:1.25rem;
    }
    .custom-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}