.cl-filters {
    margin: 0.5rem;
    width: fit-content;
}
.cl-results {
    margin: 0.5rem;
    width: 30rem;
}

.cl-search-btn {
    width: fit-content;
    font-size: larger;
    height: min-content;
    background-color: var(--primary) !important;
    color: white !important;
}

.cl-search-btn:hover{
    background: white !important;
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    border-style: solid;
    border-width: thin;
}

.cl-schedule-btn {
    color: var(--primary) !important;
    border-color: var(--secondary) !important;
    border-style: solid;
    border-width: thin;
}

.cl-modal {
    left: -15%;
}
.cl-modal > .modal-dialog > .modal-content {
    width: fit-content;
}
.cl-modal > .modal-dialog > .modal-content > .modal-body {
    width: max-content;
}