:root {
    --main-font: Roboto, sans-serif;
}


html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #212121;
}

.main-container {
    position: relative;
    background: linear-gradient(to bottom, rgba(222, 222, 222, 0.3) 0%, rgba(119, 119, 119, 0.3) 100%), url("../img/background.jpg");
    background-size: cover;

    height: 100vh;
    padding-top: 4.5rem;
}



@keyframes slideInFromDown {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-card {
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: 0 0 20px rgba(65, 65, 65, 0.75);
    padding: 10px;
    width: 25%;

    animation: 0.75s ease-out 0s 1 slideInFromDown;
}

@media (max-width: 1085px) {
    .main-card {
        width: 80%;
        margin-top: 15%;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 100px;
    border:solid 1px var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.radio-toggle {
    display: none;
}

.action-btn{
    background: var(--primary);
    color: white;
    margin-top: 4%;
    width: 50%;
}