:root {
    --main-font: Roboto, sans-serif;
}


html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #212121;
}

.main-container {
    position: relative;
    background: white;
    background-size: cover;
    overflow-y: auto;
    height: 100vh;
    padding-top: 0;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 1.5rem;
    }
    100% {
        opacity: 1;
        font-size: 1.25rem;
    }
}

@keyframes slideInFromDown {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.create-btn{
    background: #19b0c8;
    color: white;


    animation: 0.75s ease-out 0s 1 slideInFromDown;
}

.logout-btn{
    background: slategrey;
    color: white;


    animation: 0.75s ease-out 0s 1 slideInFromDown;
}
.anim-content{
    animation: 0.75s ease-out 0s 1 slideInFromDown;
}