.navbar-title {
    font-weight: 600;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    animation: 2s ease-out 0s 1 fadeIn;
}

.navbar-options {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    padding-left: 3rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

a, a:hover {
    outline: none;
    text-decoration: none;
}