:root {
    --main-font: Roboto, sans-serif;
}


html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #212121;
}

.main-container {
    position: relative;
    background: linear-gradient(to bottom, rgba(225, 225, 225, 0.8) 0%, rgba(220, 220, 220, 0.5) 100%);
    background-size: cover;

    height: 100vh;
    padding-top: 4.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 1.5rem;
    }
    100% {
        opacity: 1;
        font-size: 1.25rem;
    }
}

@keyframes slideInFromDown {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.type-title {
    font-weight: bolder;
    margin-bottom: 0%;
}
.type {
    margin-bottom: 0.75rem;
}


.submit-btn{
    background: #19b0c8;
    color: white;


    animation: 0.75s ease-out 0s 1 slideInFromDown;
}

.select-label{
    font-weight: inherit;
    font-size: large;
    margin-bottom: 2em;
}

.signature{
    align-self: flex-end;
}